#!/bin/bash

# Mise tools hash: {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}

set -euo pipefail

# Set GitHub token for mise (for API rate limiting)
export GITHUB_TOKEN={{ (bitwarden "item" "Secret-GitHubAPIPAT").login.password | quote }}

# Install mise tools
mise install
