{{- if eq .chezmoi.os "linux" }}

[".local/bin/fd"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "sharkdp/fd" "fd-v*-x86_64-unknown-linux-musl.tar.gz" | quote }}
    executable = true
    stripComponents = 1
    path = "fd"
    refreshPeriod = "168h"

{{- end }}
