# Load zinit
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"

# Add zsh plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light jeffreytse/zsh-vi-mode

# Load completions
autoload -U compinit && compinit

# fzf-tab should be loaded after compinit
zinit light Aloxaf/fzf-tab

# Replay cached completions for performance
zinit cdreplay -q

# History
HISTSIZE=2000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups


# Completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza --color=always $realpath'
zstyle ':fzf-tab:complete:__zoxide_z:*' fzf-preview 'eza --color=always $realpath'

# Shell integrations
eval "$(zoxide init --cmd cd zsh)"
eval "$(mise activate zsh)"
if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh.toml)"
fi

# Eza - improved ls
alias ls='eza'
alias ll='eza -lhg'
alias lla='eza -alhg' 
alias tree='eza --tree'

# Bat - improved cat
alias cat='bat --paging=never --style=plain'
alias catt='bat'
alias cata='bat --show-all --paging=never --style=plain'
# Colored man and help pages
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
alias -g -- --help='--help 2>&1 | bat --language=help --style=plain'

# zsh-vim plugin rebinds the keys so to keep the bindings from other plugins they need to be here
zvm_after_init_commands+=(
  ". <(fzf --zsh)"
  "bindkey '^p' history-search-backward"
  "bindkey '^n' history-search-forward"
  "bindkey '^y' autosuggest-accept"
)
# FZF
# -- Use fd instead of fzf --

export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git"

# Use fd (https://github.com/sharkdp/fd) for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --exclude .git . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type=d --hidden --exclude .git . "$1"
}
# show_file_or_dir_preview="if [ -d {} ]; then eza --tree --color=always {} | head -200; else bat -n --color=always --line-range :500 {}; fi"
# 
# export FZF_CTRL_T_OPTS="--preview '$show_file_or_dir_preview'"
# export FZF_ALT_C_OPTS="--preview 'eza --tree --color=always {} | head -200'"
# 
# _fzf_comprun() {
#   local command=$1
#   shift
# 
#   case "$command" in
#     cd)           fzf --preview 'eza --tree --color=always {} | head -200' "$@" ;;
#     export|unset) fzf --preview "eval 'echo ${}'"         "$@" ;;
#     ssh)          fzf --preview 'dig {}'                   "$@" ;;
#     *)            fzf --preview "$show_file_or_dir_preview" "$@" ;;
#   esac
# }

# sesh
function sesh-sessions() {
  {
    exec </dev/tty
    exec <&1
    local session
    session=$(sesh list -t -c -d -z | fzf --height 40% --reverse --border-label ' sesh ' --border --prompt '⚡  ')
    zle reset-prompt > /dev/null 2>&1 || true
    [[ -z "$session" ]] && return
    sesh connect $session
  }
}

alias seshl='sesh-sessions'

# Ctrl + arrow keys left/right not working
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

# Add Kitty to path
export PATH="$HOME/.local/bin:$PATH"

# Bitwarden SSH agent
{{- if eq .chezmoi.os "darwin" }}
export SSH_AUTH_SOCK=$HOME/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
{{- else if eq .chezmoi.os "linux" }}
# Flatpak
export SSH_AUTH_SOCK=$HOME/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock
export PATH="$PATH:/opt/nvim-linux-x86_64/bin"
{{- end }}

# Load ENV variables
{{- if .is_work }}
# GitHub Token
export HOMEBREW_GITHUB_API_TOKEN={{ .gh_pat }}

# Claude Code
export ANTHROPIC_DEFAULT_SONNET_MODEL="anthropic.claude-sonnet-4-5-20250929-v1:0"
export ANTHROPIC_DEFAULT_HAIKU_MODEL="anthropic.claude-haiku-4-5-20251001-v1:0"
export ANTHROPIC_DEFAULT_OPUS_MODEL="anthropic.claude-opus-4-5-20251101-v1:0"
export ANTHROPIC_BASE_URL="https://models.assistant.legogroup.io/claude"
export ANTHROPIC_AUTH_TOKEN={{ .anthropic_auth_token | quote }}
{{- end}}

# Added by Antigravity
export PATH="$HOME/.antigravity/antigravity/bin:$PATH"
export EDITOR="nvim"
