Host github.com
    HostName github.com
    User git
    {{- if .is_work }}
    IdentityFile ~/.ssh/id_work.pub
    {{- else }}
    IdentityFile ~/.ssh/id_personal.pub
    {{- end }}

Host dtu-hpc
    HostName login.hpc.dtu.dk
    User s243167
    IdentityFile ~/.ssh/id_dtu.pub
