#!/bin/bash

set -euo pipefail

export GITHUB_TOKEN={{ (bitwarden "item" "Secret-GitHubAPIPAT").login.password | quote }}

# Update package list
sudo apt-get update

# Install packages
# Core tools
sudo apt-get install -y \
    zsh \
    git \
    curl \
    wget \
    build-essential

# CLI Tools
sudo apt-get install -y \
    imagemagick \
    libxcb-xkb1

# Create .local/bin directory
mkdir -p ~/.local/bin

# Install zoxide
curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh

# Install mise
curl https://mise.run | sh

# Install oh-my-posh
curl -s https://ohmyposh.dev/install.sh | bash -s

# Install fonts
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/install_manual.sh)"
